<div class="container-fluid">
  <div class="row ">
    <div class="col-md-6 bse">
      <img src="../../../../assets/images/BSE.jpg">
    </div>
    <div class="col-md-5 serverErrorBG">
      <div class="text-center">
        <img src="../../../../assets/images/Fruisce.png" height="150" />
      </div>
      <div class="row">

        <div class="col-md-12 mt-5">
          <div class="text-center serverText">
            <div class="serverError text-center mb-5">
              <h1>SERVER ERROR !</h1>
            </div>
            <div class="text-center mt-3">
              <h6>We're sorry, our systems are currently</h6>
              <h6>unavailable Please try back later.</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
