<div class="container-fluid gryBG">
  <div class="strategryAnalysis">
    <div class="accordion" id="accordionSTrategryAnalysis">

      <!-- ================= SWOT Analysis Start=================== -->
      <app-swot></app-swot>
      <!-- ================= SWOT Analysis End=================== -->

      <!-- ================= PESTEL Analysis Start=================== -->
      <app-pestel></app-pestel>
      <!-- ================= PESTEL Analysis End=================== -->

      <!-- ================= Porter's Five Force Analysis Start=================== -->
      <app-porterfiveforce></app-porterfiveforce>
      <!-- ================= Porter's Five Force Analysis End=================== -->

      <!-- ================= Four Corner's Analysis Start=================== -->
      <app-fourcorner></app-fourcorner>
      <!-- ================= Four Corner's Analysis End=================== -->

    </div>


  </div>
</div>
