<div class="container-fluid loginBG">
  <div class="row">
    <div class="col-md-8 bse">
      <img src="assets/images/BSE.svg">
    </div>
    <div class="col-md-3 loginFormBg">
      <div class="text-center">
        <img src="assets/images/Fruisce.png" class="img-fluid"/>
      </div>
      <div class="text-center">
        <h6 class="title" style="text-align: center;">RESET PASSWORD</h6>
      </div>
      <form class="example-form" [formGroup]="resetPasswordForm">
        <div>
          <mat-form-field style="width: 100%;">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="resetPasswordForm.controls['password'].errors?.required">Password is required</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%;">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-error
              *ngIf="resetPasswordForm.controls['confirmPassword'].pristine || resetPasswordForm.controls['confirmPassword'].errors?.MatchPassword">
              Password does not match
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <button type="button" class="btn btn-login global-btn"
                  [disabled]="!resetPasswordForm.valid"
                  [ngClass]="{'button-disabled': !resetPasswordForm.valid}"
                  (click)="resetPassword()"
          >Reset Password
          </button>
        </div>
        <div class="text-center" style="padding: 6px">
          <a (click)="redirectToLogin()" style="cursor: pointer">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
