input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
}
//::ng-deep .mat-header-cell {
//  color: #fff;
//  text-transform: uppercase;
//}

.scrollbar {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
  overflow: auto;
}
.scrollbar::-webkit-scrollbar-track
{
 border-radius:5px;
 background-color: grey;
}

.scrollbar::-webkit-scrollbar
{
  border-radius:5px;
  width: 8px;
  background-color: #B6B6B6;
}

.scrollbar::-webkit-scrollbar-thumb 
{
  background-color: #15d6ce;
  border-radius:5px;
}

/* Table starsts */
table{
  overflow: scroll;      
}
/* Table Ends */
