<div class="container-fluid loginBG">
  <div class="row">
    <div class="col-md-8 bse">
      <img src="assets/images/BSE.svg">
    </div>
    <div class="col-md-3 loginFormBg">
      <div class="text-center">
        <img src="assets/images/Fruisce.png" class="img-fluid"/>
      </div>
      <div class="text-center">
        <h6 class="title" style="text-align: center;">RESET PASSWORD</h6>
      </div>
      <form class="example-form" [formGroup]="forgotPasswordForm">
        <div>
          <mat-form-field style="width: 100%;">
            <input matInput type="email" placeholder="Enter Email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <button type="button" class="btn btn-login global-btn"
                  [disabled]="!forgotPasswordForm.valid"
                  [ngClass]="{'button-disabled': !forgotPasswordForm.valid}"
                  (click)="sendForgotPasswordEmail()">Send Reset Password Link
          </button>
        </div>
        <div class="text-center" style="padding: 6px">
          <a (click)="redirectToLogin()" style="cursor: pointer">Back to Login</a>
        </div>
        <div class="text-center" style="padding: 6px">
          <span style="cursor: pointer" *ngIf="!!emailNotifMsg">{{emailNotifMsg}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
