table {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

th {
  color: #fff !important;
  text-transform: uppercase !important;
  vertical-align: inherit !important;
}

th, td {
  vertical-align: inherit;
  border-right: 1px solid rgba(0, 0, 0, .12);
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: center !important;
}

/* Scrollbar for table */
.scrollbart {
  height: 300px;
  overflow-y: auto;
  overflow-x:none;
  margin-bottom: 10px;
  overflow: auto;
  }
  .scrollbart::-webkit-scrollbar-track
  {
  border-radius:10px;
  background-color: grey;
  
  }  
  .scrollbart::-webkit-scrollbar
  {
  border-radius:10px;
    background-color: #15d6ce;
    height:10px !important;
    width:10px !important;   
  }  
  .scrollbart::-webkit-scrollbar-thumb 
  {
  background-color: #15d6ce;
  border-radius:5px;
  height:8px !important;
  width:8px !important;
  }
  .scrollbart2 {
    height: 165px;
    overflow-y: auto;
    overflow-x:none;
    margin-bottom: 10px;
    overflow: auto;
    }
    .scrollbart2::-webkit-scrollbar-track
    {
    border-radius:10px;
    background-color: grey;
    
    }  
    .scrollbart2::-webkit-scrollbar
    {
    border-radius:10px;
      background-color: #15d6ce;
      height:10px !important;
      width:10px !important;   
    }  
    .scrollbart2::-webkit-scrollbar-thumb 
    {
    background-color: #15d6ce;
    border-radius:5px;
    height:8px !important;
    width:8px !important;
    }